<style>
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

$neonblue: #001eff;
$neonlightblue: #4deeea;
$neonyellow: #ffe700;
$neongreen: #74ee15;
  /* Add styles for the body */
html {
   background: #000000; /* Cor do fundo do documento */
   height: 100%; /* Define o tamanho do Documento HTML */
}
body {
  background: #000000; /* Cor do fundo do documento */
  height: 100%; /* Define a largura do Corpo do Documento */
  background-image:url("./img-games/phonel.jpg");
}
#corpo{
  background: #000000; /* Cor do fundo do corpo */
  box-sizing: border-box;
  font-family: "Verdana";
  height: 100%;
  margin: 0 auto; /* Centraliza */
  padding: 8px;
  width: 80%; /* Define a largura do Corpo do Documento */
}

  /* Add styles for the header */
  header {
    background-color: #0000ff;
    padding: 0.2px;
    font-family: Book Antiqua;
    height: 100%;
    width: 100%;
    
  }

  /* Add styles for the navigation menu */
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0.2px;
    display: flex;
    justify-content: center;
  
  }

  nav li {
    margin: 0 10px;
  }

  /* Add styles for the links in the navigation menu */
  nav a {
    text-decoration: underline;
    color: blue;
  }

  /* Add styles for the main content */
  main {
    padding: 0px;
  }

  /* Add styles for the footer */
  footer {
    background-color: red;
    padding: 0.1px;
    text-align: center;
    font-family: Arial;
    font-size: 15px;
    height: 100%;
    width: 100%;
  }
}
    
  #depois-games {
    text-align: left:
    font-size: 30px;
  }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Audiowide", sans-serif;
        letter-spacing: 0.1em;
        color: #FFFFFF;
}
    h2 {
        color: white;
        text-shadow: 0 0 0.5em $neonlightblue, 0 0 1em white;
        padding: 1em 0 0.5em 0;}

    img {
        height: 80%;
        margin: 0 auto; /* Centraliza */
        padding: 8px;
        width: 80%;
        display: flex;
        justify-content: center;
        }
    p {
        font-family: "Open Sans", sans-serif;
        line-height: 2em;
        padding: 0.5em 0;
        color: #FFFFFF;
    }
  source{
        display: flex;
        justify-content: center;
        align-items: center;
  }
  
</style>
